*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0a0a0a;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#111;
position:sticky;
top:0;
}

.logo{
font-size:32px;
font-weight:bold;
color:#C9A84C;
}

nav a{
margin-left:25px;
text-decoration:none;
color:white;
}
.hero{
padding:140px 8%;
text-align:center;
background:linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)),
url('https://images.unsplash.com/photo-1522335789203-aabd1fc54bc9?w=1600');
background-size:cover;
background-position:center;
}
.btn{
display:inline-block;
padding:15px 40px;
background:#C9A84C;
color:black;
text-decoration:none;
border-radius:40px;
font-weight:bold;
}

.about,.products{
padding:80px 8%;
text-align:center;
}

.about h2,
.products h2{
color:#C9A84C;
margin-bottom:25px;
}

.cards{
display:flex;
gap:25px;
justify-content:center;
flex-wrap:wrap;
margin-top:40px;
}

.card{
width:300px;
background:#181818;
padding:30px;
border:1px solid #C9A84C;
border-radius:15px;
}

footer{
padding:40px;
text-align:center;
background:#111;
margin-top:80px;
}
.manufacturing{
padding:90px 8%;
text-align:center;
background:#111;
}

.manufacturing h2{
color:#C9A84C;
margin-bottom:20px;
}

.manufacturing p{
max-width:700px;
margin:auto;
line-height:1.8;
margin-bottom:30px;
}
